{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<main class="content">
    <div class="container-fluid p-0">
       <h1 class="h3 mb-3 text-center"><strong>Set New Strong Password for Authentication</strong></h1>
       <div class="row">
        <form class="col-12 mx-auto card p-3 shadow-lg" method="post">
            {% csrf_token %}
            {{ set_password_form }}
            <br><br>
            <button type="submit" id="css_for_btn" class="btn btn-success btn-bg">Save Password</button>
            </form>
       </div>
    </div>
 </main>

{% endblock %}

